<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= task.title  %>
      <% unless task.deadline.nil? %>
      , Deadline : <%= task.deadline.strftime('%D')  %>
      <% end %>
    </li>
  <% end %>
</ul>
